QLabel#icon39 {
    qproperty-pixmap: url(icon_dark:/primary/choices-FAT.svg);
}

QLabel#icon46 {
    qproperty-pixmap: url(icon_dark:/primary/add-document-FAT.svg);
}

QLabel#icon47 {
    qproperty-pixmap: url(icon_dark:/primary/table-of-contents-FAT.svg);
}

QLabel#icon26 {
    qproperty-pixmap: url(icon_dark:/primary/page-scroll-FAT.svg);
}

QLabel#icon27 {
    qproperty-pixmap: url(icon_dark:/primary/merge-FAT.svg);
}

QLabel#icon31 {
    qproperty-pixmap: url(icon_dark:/primary/flow-data-FAT.svg);
}

QLabel#icon32 {
    qproperty-pixmap: url(icon_dark:/primary/select-range-FAT.svg);
}

QLabel#icon33 {
    qproperty-pixmap: url(icon_dark:/primary/array-numbers-FAT.svg);
}

QLabel#icon34 {
    qproperty-pixmap: url(icon_dark:/primary/bookmark-FAT.svg);
}

QLabel#label51a {
    qproperty-pixmap: url(icon_dark:/primary/translate-FAT.svg);
}

QLabel#icon03 {
    qproperty-pixmap: url(icon_dark:/primary/merge-FAT.svg);
}

QLabel#icon02 {
    qproperty-pixmap: url(icon_dark:/primary/split-FAT.svg);
}

QLabel#icon05 {
    qproperty-pixmap: url(icon_dark:/primary/extract-FAT.svg);
}

QLabel#icon06 {
    qproperty-pixmap: url(icon_dark:/primary/insert-page-FAT.svg);
}

QLabel#icon07 {
    qproperty-pixmap: url(icon_dark:/primary/compress-FAT.svg);
}

QLabel#icon09 {
    qproperty-pixmap: url(icon_dark:/primary/image-FAT.svg);
}

QLabel#icon11 {
    qproperty-pixmap: url(icon_dark:/primary/page-scroll-FAT.svg);
}

QLabel#icon13 {
    qproperty-pixmap: url(icon_dark:/primary/bookmark-FAT.svg);
}

QLabel#icon14 {
    qproperty-pixmap: url(icon_dark:/primary/table-of-contents-FAT.svg);
}

QLabel#icon18 {
    qproperty-pixmap: url(icon_dark:/primary/flow-data-FAT.svg);
}

QLabel#icon20 {
    qproperty-pixmap: url(icon_dark:/primary/select-range-FAT.svg);
}

QLabel#icon21 {
    qproperty-pixmap: url(icon_dark:/primary/array-numbers-FAT.svg);
}

QLabel#icon22 {
    qproperty-pixmap: url(icon_dark:/primary/bookmark-FAT.svg);
}

